<div class="max-w-4xl mx-auto py-8 px-4">
  <h1 class="text-3xl font-bold mb-6"><%= t("transactions.transactions_label") %></h1>

  <div class="mb-4">
    <%= link_to t("transactions.add_transaction_label"), new_transaction_path, class: "bg-[#3FBF3F] hover:filter hover:brightness-90 transition text-white px-4 py-2 rounded-md shadow" %>
  </div>

  <!-- Filter Panel -->
  <%= render "filter" %>

  <!-- Totals Cards -->
  <%= render "totals", total_income: @total_income, total_expense: @total_expense, total_balance: @total_balance %>

  <table class="min-w-full bg-[#ffffff] shadow-md rounded-lg overflow-hidden">
    <thead class="bg-gray-100 text-left text-sm font-semibold text-[#121212]">
      <tr>
        <th class="px-4 py-3"><%= t("transactions.date_title") %></th>
        <th class="px-4 py-3"><%= t("transactions.type_title") %></th>
        <th class="px-4 py-3"><%= t("transactions.amount_title") %></th>
        <th class="px-4 py-3"><%= t("transactions.category_title") %></th>
        <th class="px-4 py-3"><%= t("transactions.description_title") %></th>
        <th class="px-4 py-3"><%= t("transactions.tags_title") %></th>
        <%# Empty Header for the Actions Column. %>
        <th></th>
      </tr>
    </thead>
    <tbody class="text-[#121212] text-sm">
      <% @transactions.each do |transaction| %>
        <tr class="border-t">
          <td class="px-4 py-2"><%= transaction.date %></td>
          <td class="px-4 py-2 capitalize"><%= transaction.transaction_type %></td>
          <td class="px-4 py-2 <%= transaction.transaction_type == "expense" ? "text-[#D83A3A]" : "text-[#3FBF3F]" %>">
            <%= number_to_currency(transaction.amount) %>
          </td>
          <td class="px-4 py-2"><%= transaction.category.name %></td>
          <td class="px-4 py-2"><%= transaction.description %></td>
          <td class="px-4 py-2">
            <%= transaction.tags.map(&:name).join(", ") %>
          </td>
          <td class="px-4 py-2">
            <%= link_to "View", transaction %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
